name: tests

on:
  push:
    branches:
      - master
  pull_request: null

env:
  PY_COLORS: "1"

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  tests:
    name: tests
    strategy:
      fail-fast: false
      matrix:
        pyver: ["3.9", "3.10", "3.11", "3.12", "3.13"]
        ngmix: ["ngmix-upstream", "ngmix-released"]

    runs-on: "ubuntu-latest"

    steps:
      - name: free disk space
        uses: endersonmenezes/free-disk-space@v3
        with:
          remove_android: true
          remove_dotnet: true
          remove_haskell: true
          rm_cmd: "rmz"

      - uses: actions/checkout@v2

      - uses: mamba-org/setup-micromamba@v2.0.6
        with:
          environment-name: test
          condarc: |
            channels:
              - conda-forge
            channel_priority: strict
            show_channel_urls: true
            always_yes: true
          create-args: >-
            python=${{ matrix.pyver }}
            pip

      - name: configure conda and install code
        shell: bash -l {0}
        run: |
          micromamba install --file requirements.txt
          micromamba install --file dev-requirements.txt

          pip install --no-deps --no-build-isolation -e .
          
          if [[ "${{ matrix.ngmix }}" == "ngmix-upstream" ]]; then
            micromamba uninstall ngmix --force
            pip install --no-deps --no-build-isolation git+https://github.com/esheldon/ngmix.git
          fi

      - name: lint
        shell: bash -l {0}
        run: |
          flake8 metadetect

      - name: test
        shell: bash -l {0}
        run: |
          # don't run metadetect/lsst/tests
          pytest -v -n 4 --cov=metadetect --cov-report term-missing metadetect/tests
          pytest -vvs shear_meas_test/test_shear_meas.py -k test_shear_meas_timing --log-cli-level=info
          pytest -vvs shear_meas_test/test_shear_meas.py -k test_shear_meas_simple[wmom-1000000.0-7-64]
          pytest -vvs shear_meas_test/test_shear_meas.py -k test_shear_meas_simple[ksigma-1000000.0-7-64]
          pytest -vvs shear_meas_test/test_shear_meas.py -k test_shear_meas_simple[pgauss-1000000.0-7-64]
          pytest -vvs shear_meas_test/test_shear_meas.py -k test_shear_meas_simple[am-1000000.0-7-64]
          pytest -vvs shear_meas_test/test_shear_meas.py -k test_shear_meas_simple[gauss-1000000.0-7-64]
          pytest -vvs shear_meas_test/test_shear_meas.py -k test_shear_meas_color[wmom-1000000.0-7-64]
          pytest -vvs shear_meas_test/test_shear_meas.py -k test_shear_meas_color[pgauss-1000000.0-7-64]
